h2 {
	text-align: center;
}
html {
	margin: 0;
	background-color: lightblue;
}
#adding {
	text-align: center;
	align-items: center;
	margin: auto;
	padding: 0.5rem;
}
#todo-input {
	background-color: transparent;
	border : none;
	border-bottom: 0.1rem solid black;
	font-family: 'Cascadia Mono',Arial;
	font-size: 1.4rem;
	margin-right: 1.5rem;
}
#todo-input:focus {
	outline: none;
}
#todo-container {
	border: 0.2rem solid white;
	border-radius: 1.4rem;
	display: block;
	padding: 2rem;
	width: 60%;
	margin: auto;
}
#add-todo {
	font-family: 'Cascadia Mono','Arial';
	font-size: 1.4rem;
	padding: 0.2rem 0.5rem;
	border: 0.1rem solid black;
	border-radius: 0.5rem;
}
.todo-element {
	margin-right: 1rem;
	font-family: 'Monospace','Cascadia Code','Arial';
	font-size: 1.1rem;
	background-color: transparent;
	padding: 0.5rem;
}
.todo-element:checked + label {
	text-decoration: line-through;
	color: gray;
}
.todo-cover {
	padding: 0.5rem;
	margin: 0.5rem;
}
.todo-cover:nth-child(even) {
	background-color: lightgreen;
}
.todo-cover:nth-child(odd) {
	background-color: yellow;
}
